@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'outfit', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: white;
    color: hsl(24, 5%, 18%);
}

header > img {
    width: 100%;
    height: auto;
}

.contentainer {
    max-width: 480px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

.contentainer > div {
    padding: 0px 20px;
}

section {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    font-family: 'young-serif', 'Times New Roman', Times, serif;
}

.preparation-section {
    display: flex;
    justify-content: center;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 0px 18px;
}

.preparation > h3 {
    color: hsl(332, 51%, 32%);
}

li {
    padding-left: 10px;
}

h2 {
    font-size: 1.5rem;
    font-family: 'young-serif', 'Times New Roman', Times, serif;
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

.ribbon, tr {
    border-bottom: 1px solid black;
}

.ribbon {
    margin: 20px 0px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    .contentainer {
      max-width: 700px;
    }

    .preparation {
        flex: auto;
    }
  
    h1 {
      font-size: 2.2rem;
    }
  
    td {
      padding: 15px;
    }
}

@media(min-width: 1024px) {
    body {
        padding: 20px;
        background-color: hsl(30, 18%, 87%);
    }

    .contentainer {
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow:  0px 0px 4px 2px hsl(24, 5%, 18%);
    }

    .contentainer > div {
        padding: 0px;
    }

    img[alt='omelette'] {
        border-radius: 14px;
    }
}